.sidebar_padding {
    -webkit-transition: property duration timing-function delay;
    -moz-transition: property duration timing-function delay;
    transition: property duration timing-function delay;
}


@media screen and (max-width: 768px) {
    .dobtor_sidebar,
    .sidebar_padding,
    .sidebar_tri,
    .sidebar_content {
        display: none !important;
    }
}