header {
  background-color: #ffffff; }

#wrapwrap header div.navbar.navbar-default.navbar-static-top {
  background-color: #ffffff;
  border-color: transparent; }
  #wrapwrap header div.navbar.navbar-default.navbar-static-top li.active a {
    color: green;
    background-color: #ffffff; }
  #wrapwrap header div.navbar.navbar-default.navbar-static-top a.navbar-brand {
    height: auto; }
    #wrapwrap header div.navbar.navbar-default.navbar-static-top a.navbar-brand img {
      max-height: none; }
  @media screen and (min-width: 768px) {
    #wrapwrap header div.navbar.navbar-default.navbar-static-top div.container div.collapse.navbar-collapse.navbar-top-collapse {
      position: absolute;
      bottom: 0px;
      width: 100%; } }

#wrapwrap > footer {
  background-color: #F2F2F2; }

.s_banner div.carousel-content.col-md-6.mt64 {
  background: rgba(204, 204, 204, 0.5); }

.s_comparisons .text-muted {
  color: inherit; }

.s_comparisons .panel-primary {
  border-color: #CCC; }

.s_comparisons .panel-primary > .panel-heading {
  color: #fff;
  background-color: #CCC;
  border-color: #CCC; }

.s_comparisons .list-group-item.active, .s_comparisons .list-group-item.active:hover, .s_comparisons .list-group-item.active:focus {
  z-index: 2;
  color: #fff;
  background-color: #CCC;
  border-color: #ccc; }

.s_comparisons .panel-info {
  border-color: #CCC; }

.s_comparisons .panel-info > .panel-heading {
  color: white;
  background-color: #CCC;
  border-color: #CCC; }

.btn-indigo {
  color: #ffffff;
  background-color: #0093AC;
  border-color: #007d93; }

.btn-indigo:hover {
  color: #ffffff;
  background-color: #007d93;
  border-color: #003C46; }

.btn-primary {
  color: #ffffff;
  background-color: #0093AC;
  border-color: #007d93; }

.btn-primary:hover {
  color: #ffffff;
  background-color: #007d93;
  border-color: #003C46; }

/*btn-success {
    color: $white;
    background-color: $Indigo;
    border-color: $dark-Indigo;
}

.btn-success:hover {
    color: $white;
    background-color: $dark-Indigo;
    border-color: $deep-Indigo;
}*/

