.emba_tabs {
    ul.nav-tabs {
        border-bottom: 0px solid #ddd;
    }
    ul.nav-tabs li.active a {
        border: none;
        box-shadow: none;
        -webkit-box-shadow: none;
        color: #9E1632;
    }
    ul.nav-tabs li {
        cursor: pointer;
    }
    ul.nav-tabs li a {
        line-height: 1.5;
        width: 160px;
        text-transform: initial;
        text-align: center;
        box-shadow: none;
        -webkit-box-shadow: none;
        border: none;
        min-width: 120px;
    }
    ul.nav-tabs li a img {
        height: 65px;
        width: 65px;
        text-align: center;
        padding: 5px;
        max-width: 100%;
        vertical-align: middle;
        border: 0;
        margin: 0 auto;
        margin-bottom: 10px;
        background-image: linear-gradient(to top, #EEEEEE 0%, #FFFFFF 100%);
    }
    .nav-tabs>li>a,
    .nav-tabs>li>a:hover,
    .nav-tabs>li>a:focus {
        border: 0px solid #ddd;
        box-shadow: none;
        -webkit-box-shadow: none !important;
        background-color: white !important;
    }
    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:hover,
    .nav-tabs>li.active>a:focus {
        border: 0px solid #ddd !important;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
}