.dobtor {
  width: 100%; }

.dobtor_banner {
  background-size: 100% auto !important;
  background-repeat: no-repeat; }

.full-width-section:hover > .separator-2 {
  width: auto; }

.page-title:hover > .separator-2 {
  width: auto; }
