/* CSS Document */
/*-- Gallery --*/
.gallery {
  padding: 0px; }

.gallery {
  padding: 30px 0px; }

.gallery h3 {
  color: #000;
  text-transform: none;
  font-family: inherit;
  font-size: 25px;
  letter-spacing: 2px;
  font-weight: 700;
  text-align: left;
  position: relative;
  margin-bottom: 20px; }

/*.about-w3-agile h3:before, .gallery h3:before, .course h3:before, .faclility h3:before, .contactus_font h1:before, .aboutus_font h1:before{
    content: '';
    background: #d9d9d9;
    width: 10%;
    height: 3px;
    position: absolute;
    top: 170%;
    left: 0%;
}
.about-w3-agile h3:after,.gallery h3:after,.course h3:after, .faclility h3:after, .contactus_font h1:after , .aboutus_font h1:after{
    content: '';
    background:  #FFC107;
    width: 4%;
    height: 3px;
    position: absolute;
    top: 170%;
    left: 0%;
}*/
.gallery-grid img {
  width: 100%;
  cursor: pointer; }

.gallery-grid {
  position: relative; }

.grid.figure {
  position: relative;
  overflow: hidden;
  height: auto;
  background: #000;
  text-align: center; }

.grid.figure > img,
.grid.figure > a {
  position: relative;
  display: block;
  max-width: 100%;
  opacity: 1; }

.grid.figure.effect-apollo {
  background: #fff;
  line-height: 0; }

.grid.figure.effect-apollo > img,
.grid.figure.effect-apollo > a > img {
  opacity: 0.95;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale3d(1.05, 1.05, 1);
  transform: scale3d(1.05, 1.05, 1);
  position: relative;
  top: 0px; }

.figure.effect-apollo:hover > img,
.figure.effect-apollo:hover > a > img {
  opacity: 0.7;
  -webkit-transform: scale3d(1.1, 1.1, 1);
  transform: scale3d(1.1, 1.1, 1); }

/*-- //Gallery --*/
