
.dobtor {
    width:100%;
}

.dobtor_banner {
    background-size: 100% auto !important;
    background-repeat: no-repeat;
}

// Comman
.full-width-section:hover > .separator-2 {
    width: auto;
}

.page-title:hover > .separator-2 {
    width: auto;
}
// s_dobtor_picture_text